body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #2a76e8;
    color: #fff;
}

h1 {
    font-size: 3em;
}

main {
    margin-top: 20px;
}

h2 {
    font-size: 2em;
}

ul.voitures {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.voiture {
    display: flex;
    margin-bottom: 10px;
}

img.voiture {
    width: 200px;
    margin-right: 10px;
}

p.voiture {
    font-size: 1.5em;
}

footer {
    text-align: center;
}
